body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff0f5;
  color: #333;
}

h1,
h2 {
  font-weight: 600;
}

p {
  font-weight: 400;
  line-height: 1.6;
}
